.container{
    height:550px;
    width:700px;
    margin-top:20px;
    border-radius:50px;
    padding:50px;
    background-color:lightgray;
}
.pls{
    color:red;
    margin-left:10px;
    margin-top: -15px;
}
.textError{
    color:red;
    margin-left: 10px;
    margin-top: -15px;
}